[Desktop Entry]
Type=Application
Name=Myna
GenericName=Dictation
Comment=Set the keyboard shortcut for Myna dictation
Exec=myna.bind-shortcut
Categories=Utility;Accessibility;
Keywords=dictation;speech;transcription;voice;
