<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Myna</vendor>
  <action id="com.canonical.Myna.Config.apply-plan">
    <description>Change speech-to-text model settings</description>
    <message>Authentication is required to change speech-to-text model settings</message>
    <icon_name>com.canonical.Myna.Config</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/myna-config</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">--apply-plan</annotate>
  </action>
  <action id="com.canonical.Myna.Config.set-up">
    <description>Set up Myna</description>
    <message>Authentication is required to set up Myna</message>
    <icon_name>com.canonical.Myna.Config</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/myna-config</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">--set-up</annotate>
  </action>
</policyconfig>
